<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </layout>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/dev-log/crop-save/crop.save.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <!-- local -->
    <springProfile name="local">
        <logger name="com.stone.play" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.web" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.core" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.beans" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.context" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.security" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.tx" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.jdbc" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.orm.jpa" level="trace" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.transaction.interceptor" level="trace" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <!-- jdbc loggers -->
        <logger name="jdbc.sqltiming" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="jdbc.sqlonly" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="jdbc.audit" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="jdbc.resultset" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.apache.ibatis" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="com.zaxxer.hikari" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <root level="ERROR">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

</configuration>

